
  $sm-min-screen:576px;
  $md-min-screen: 768px;
  $lg-min-screen:  992px;
  $xl-min-screen: 1200px;

  $sm-max-screen: 575.98px;
  $md-max-screen: 767.98px;
  $lg-max-screen:  991.98px;
  $xl-max-screen: 1199.98px



